.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-add-package {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 550px;
    margin: auto;
    border: 3px solid transparent; /* this */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    border-radius: 40px !important;
    background: #fff;
    animation-duration: 0.5s;
}

.ReactModal__Content h2 {
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}

.modal-add-package form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.modal-add-package .form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.modal-add-package .form-group.file {
    width: fit-content;
}


.modal-add-package .required {
    color: red;
}

.modal-add-package .send {
    background: #1045F6;
    color: white;
}

.modal-add-package .close {
    color: #1045F6;
}


.modal-add-package .input-file {
    background: rgba(211, 211, 211, 0.5);
    padding: 15px 45px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-add-package .input-file:hover {
    background: rgba(211, 211, 211, 0.3);
    transform: translateY(-2px);
}

.modal-add-package .button-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
