.profile-page {
    width: 86%;
    height: 800px;
    padding-top: 50px;
}

.profile-page .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    height: 100%;
}

.profile-page .child-grid {
    background-color: #fff;
    border-radius: 40px;
    border: 3px solid transparent; /* this */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    padding: 20px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.profile-page .div1 {
    grid-area: 1 / 1 / 5 / 5;
}

.profile-page .flex-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.profile-page .column {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.profile-page .flex-row img {
    width: 100px;
    height: 100px;
    border-radius: 999999px;
    object-fit: cover;
}

.profile-page .div2 {
    grid-area: 1 / 5 / 6 / 9;
}

.profile-page .div3 {
    grid-area: 1 / 9 / 11 / 11;
}

.profile-page .div4 {
    grid-area: 5 / 1 / 11 / 5;
}

.profile-page .div5 {
    grid-area: 6 / 5 / 11 / 9;
}

.tracking-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}