@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

body {
    background: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


main {
    display: flex;
    margin: 50px 50px 0 150px;
    height: 100%;
}

main.stats-list {
    display: block;
}